body{
  margin: 0;
  font-family: system-ui;
  -webkit-font-smooting:grayscale;
  -noz-osx-font-smooting:grayscale;
  background-color: #e7f6ff;
  background: url("../public/body-img.jpeg");
  /* background-image: url(/final-project/public/body-img.jpeg);
   */
   background-attachment:fixed;
}
*{
  font-family: 'Inner', system-ui;
}
.wrapper{
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0,  0, 0, 0.04);
  border-radius: 20px;
  max-width: 63%;
  margin: 50px auto;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 90%;
}
h3{
  margin-top: 8px;
  font-size: 30px;
  color: rgba(230,  171, 22, 0.753);
}
.wrapper-img{
  position: absolute;
}
.headerleft{
  display: flex;
  align-items: center;
}

.info-descr{
  margin-left: 330px;
  font-size: 25px;
}
img{
margin-right: 15px;
}
h3 p{
  margin: 0;
}
ul{
  display: flex;
}
.basket{
  margin-right: 30px;
}
h1{
  position: absolute;
  margin: 0;
  margin-left: 200px;
  flex: -4;
}
.card{
  border: 1px solid #f3f3f3;
  padding: 30px;
  width: 140px;
  height: 240px;
  border-radius: 25px;
  margin-right: 10px;
  margin-left: 20px;
  box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}
span{
  font-size: 13px;
  opacity: 0.5;
  text-transform: uppercase;
}
.header-li{
  list-style: none;
  margin-right: 30px;
  cursor: pointer;
}
.header-acc{
  list-style: none;
  cursor: pointer;
}
.header-ul{
  display: flex;
}
.sneakers{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.card-img{
  width: 135px;
  height: 160px;
  cursor: pointer;
  border-radius: 25px;
  margin-left: 5px;
}
.button{
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}
.cardBottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 130px;
  margin-top: 55px;
}
.carddescr{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.carddescr p{
  position: absolute;
}
h5{
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  margin-top: 40px;

}
.carddescr b{
  position: absolute;
  margin-top: 65px;
}
.search{
  background: #ffffffff;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}
.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-block{
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 0px;
  margin-left:350%;
  display: flex;
  position: relative;
}
.Search-blocks{
  display: flex;
}
input{
  border: 0;
  padding: 10px;
  font-size: 16px;
  width: 200px;
}
.search-img{
  width: 13px;
  height: 13px;
  margin-top: 10px;
}
.sneakers{
  margin-top: 75px;
}
.greenButton{
  width: 90%;
  background-color: greenyellow;
  height: 60px;
  margin-top: 0px;
  margin-left: 35px;
  border-radius: 20px;
}
.total{
  margin-left: 30px;
  list-style: none;
}
.nalog{
  list-style: none;
  margin-left: 290px;
}
.arrow{
  width: 30px;
  height: 25px;
  margin-left: 300px;
}
.total-descr{
  font-size: 23px;
  position: absolute;
  margin-left: 120px;
  cursor: pointer;

}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.drawer{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 530px;
  height: 93%;
  right: 0;
  background: #ffffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.01);
  padding: 30px;
}
.drawer h2{
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
}
.cartItem{
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;
  height: 120px;
}
.cartItemImg{
  border-radius: 20px;
  height: 100px;
  width: 70px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 30px;
}
.cartItem-descr{
  margin-right: 20px;
}
.cardItemDescr-pb p{
  margin-left: 250px;
}
.cardItemDescr-pb b{
  margin-left: 250px;
}
.cardItemDescr-pb{
  margin-bottom: 25px;
}
/* .cartItem p{ 
  display: flex;
  font-size: 16px;
  margin-left: 280px;
}
.cartItem b{
  display: flex;
  font-size: 14px;
  margin-left: 280px;
  margin-top: 75px;
} */
.removeBtn{
  opacity: 0.5;
  cursor: pointer;
  transform: opacity 0.15s ease-in-out;
}
.cartli{
  display: flex;
}
.cartTotalBlock b{
  margin-left: 240px;
}
.items{
  flex: 1;
  overflow: auto;
  margin-bottom: 40px;
}
.buy{
  margin-top: 20px;
  width: 100%;
  height: 55px;
  background: #9dd558;
  cursor: pointer;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 0 7px;
  transition: 0.2s ease-in-out;
}
.buyimg{
  transition: 0.2s ease-in-out;
  width: 18px;
  height: 18px;
  margin-left: 100px;
  position: absolute;
}
.plusbtn{
  cursor: pointer;
}
.clear{
  margin-left: 230px;
  position: absolute;
  margin-top: 13px;
  cursor: pointer;
}
.footer-content{
  background: gray;
  width: 100%;
  height: 480px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
}
.social{
  display: flex;
  list-style: none;
  margin: 1rem 0 3rem 0;
  justify-content: center;
  margin-top: 60px;

}
.cardBottom{
  cursor: pointer;
}
.social img{
  width:  35px;
  height: 35px;
  margin-left: 5px;
}
.footer-img{
  border-radius: 20px;
  margin-top: 10px;
  width: 290px;
  height: 330px;
  margin-left: 440px;
}
 .Login{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 30%;
  height: 50%;
  margin-top: 160px;
  margin-left:35%;
  background: #ffffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.01);
  padding: 30px;
  align-items: center;
  border-radius: 20px;
} 
 .Login-descr{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 120%;
  margin-top: 20%;
}
.remove-Login{
  margin-left: 95%;
  cursor: pointer;
} 
.remove-button{
  margin-left: 135%;
  margin-top: 30px;
  cursor: pointer;
}
.shop-descr{
  margin-left: 271px;
  
}
.cartItemImg Img{
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
.Register{
  display: flex;
  flex-direction: column;
  
  width: 30%;
  padding: 20px;
  height: 50%;
  margin-top: 160px;
  margin-left:35%;
  background: #fffffff2;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.01);
  padding: 30px;
  align-items: center;
  border-radius: 20px;
} 
.reg-input div{
  margin-bottom: 10px;
}
.header-reg{
  list-style: none;
  cursor: pointer;
}
.header-reg img{
  margin-left: 25px;
}
.Register-descr{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 120%;
  margin-top: 20%;
}
/*Large Device, Wide Screens*/
@media only screen and (max-width:1200px) {

  .header h1{
    color: greenyellow;
  }

   
}
/*Medium Devices, Desktop*/
@media screen and (max-width: 607px) and (min-width: 382px) {
  .header-ul{
    padding: 0;
    position: absolute;
    margin-left: 120px;
    
  }
  .header-acc{
    position: absolute;
    margin-left: 30px;

  }
  .header-reg{
    position: absolute;
    margin-left: 30px;
  }
  h3{
    font-size: 20px;
    margin-top: 15px;
  }
  .Search-block-descr{
    margin-left: 20px;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .search-block{
    margin-left: 15px;
    margin-top: 30px;
    
  }
  .card-img{
    width: 85px;
    height: 100px;
    left: 0%;
    right: 20px;
  }
.card{
  padding: 30px;
  width: 65px;
  margin: 15px;
  margin-right: 20px;
  height: 180px;
}
.cardBottom{
  margin-left: 60px;
  margin-top: 30px;
}
.footer-img{
  margin-left: 120px;
  width: 150px;
  height: 180px;
}
.footer-content{
  height: 300px;
}
}
@media screen and (max-width: 1200px) and (min-width: 850px){
  .footer-img2{
    position: absolute;
    width: 15px;
    height: 20px;
    margin-left: 1.5%;
    margin-top: 1.5%;
  }
  .footer-img-descr2{
     margin-left: 3%;
     position: absolute;
     margin-top: 1.5%;
  }
}
@media screen and (max-width: 680px) and (min-width: 608px){
 
  .Search-block-descr{
    margin-left: 100px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .search-block{
    margin-left: 70px;
    margin-top: 30px;
    
  }
  .card-img{
    width: 85px;
    height: 110px;
  }
.card{
  width: 80px;
  margin: 25px;
  height: 190px;
}
.cardBottom{
  margin-left: 80px;
  margin-top: 40px;
}
.footer-img{
  margin-left: 120px;
  width: 150px;
  height: 180px;
}
.footer-content{
  height: 300px;
}
}
@media screen and (max-width: 750px) and (min-width: 680px){
   .Search-block-descr{
     margin-left: 50px;
   }
   .search-block{
    margin-left: 70px;
    margin-top: 60px;
    
  }
  .card{
    width: 80px;
    margin: 35px;
    height: 190px;
  }
  .card-img{
    width: 90px;
    height: 110px;
  }
.cardBottom{
  margin-left: 80px;
  margin-top: 40px;
}
.footer-img{
  margin-left: 120px;
  width: 150px;
  height: 180px;
}
.footer-content{
  height: 300px;
}
}
@media screen and (max-width: 1300px) and (min-width: 751px){
  .Search-block-descr{
    margin-left: 80px;
  }
  .search-block{
   margin-left: 100px;
   margin-top: 60px;
   
 }

 .card{
   width: 80px;
   margin: 15px;
   height: 190px;
 }
 .card-img{
   width: 90px;
   height: 110px;
 }
.cardBottom{
 margin-left: 80px;
 margin-top: 40px;
}
.footer-img{
 margin-left: 170px;
 width: 150px;
 height: 180px;
}
.footer-content{
 height: 300px;
}
}
.footerdescr{
  position: absolute;
  margin-left: 40px;
  margin-top: 30px;
  width: 230px;
}
.footerdescr2{
  position: absolute;
  margin-top: 30px;
  width: 230px;
  margin-left: 340px;
}
@media screen and (max-width: 1300px) and (min-width: 1201px){
  .Search-block-descr{
    margin-left: 30px;
  }
  .search-block{
   margin-left: 420px;
 }
 .search-block input{
   width: 120px;
   
 }
.footer-img{
 margin-left: 290px;
 width: 150px;
 height: 180px;
}
.footerdescr{
  width: 120px;
  height: px;
}
.footerdescr2{
  width: 120px;
  margin-left: 190px;
}
.footer-img2{
  margin-left: 26%;
}
.footer-img-descr2{
  margin-left: 2.5%;
  margin-top: 2%;
  font-size: 13px;
}
.footer-conternt{
 height: 300px;
}
}
@media screen and (max-width: 1600px) and (min-width: 1301px){
  .Search-block-descr{
    margin-left: 60px;
  }
  .search-block{
   margin-left: 480px;
   
 }
 .footerdescr2{
  width: 120px;
  margin-left: 320px;
}
.footerdescr{
  width: 120px;
  height: px;
}
.footer-img2{
  margin-left: 11.5%;
}
.footer-img-descr2{
  margin-left: 13%;
  margin-top: 2%;
  font-size: 13px;
}
.footer-img{
 margin-left: 280px;
 width: 150px;
 height: 180px;
}
.footer-content{
 height: 300px;
}
}
@media screen and (max-width: 1848px) and (min-width: 1601px){
  .Search-block-descr{
    margin-left: 180px;
  }
  .search-block{
   margin-left: 700px;
   
 }
.footer-img{
 margin-left: 280px;
 width: 150px;
 height: 180px;
}
.footer-content{
 height: 300px;
}
.footer-img2{
  margin-left: 11.5%;
  width: 15px;
  height: 20px;
}
.footer-img-descr2{
  margin-left: 13%;
  margin-top: 2%;
  font-size: 13px;
}
}
@media screen and (max-width: 869px) and (min-width: 414px){
  .wrapper{
    width: 6000px;
  }
  .Search-block-descr{
    margin-left: 30px;
  }
  .search-block{
   margin-right: 20px;
   margin-top: 50px;
   
 }
 .footer-img2{
  margin-left: 2%;
  width: 15px;
}
.footer-img-descr2{
  margin-left: 0%;
  margin-top: 2%;
  font-size: 13px;
}
 .footerdescr{
  width: 120px;
  height: px;
}
.footerdescr2{
  width: 120px;
  margin-left: 190px;
}
.footer-img2{
  margin-left: 26%;
}
.footer-img-descr2{
  margin-left: 27.5%;
  margin-top: 2%;
  font-size: 13px;
}
 .card{
   width: 85px;
 }
 .clear{
   margin-left: 20px;
   margin-top: 3px;
 }
 .Search-blocks{
   margin-top: 4px;
 }
 
 .search-block input{
   width: 70px;
   height: 2px;
 }
 .search-img{
   margin-left: 25px;
   width: 10px;
   margin-top: 4px;
 }
 
.cardBottom{
 margin-left: 75px;
 margin-top: 25px;
}
.footer-img{
 margin-left: 190px;
 width: 150px;
 height: 180px;
}
.footer-content{
 height: 300px;
}
.carddescr{
  font-size: 15px;
}
}
@media screen and (max-width: 844px) and (min-width: 390px){
  .search-block input{
    width: 120px;
    height: 1px;
  }
  .search-img{
    margin-top: 4px;
  }
  .clear{
    margin-left: 150px;
    margin-top: 3px;
  }
  .footer-img2{
    margin-left: 2%;
  }
  .footer-img-descr2{
    margin-left: 4%;
    margin-top: 2%;
    font-size: 13px;
  }
  .card{
    width: 90px;
    margin-left: 50px;
  }
  .footer-img{
    margin-left: 130px;
    width: 100px;
    height: 120px;
  }
  .social li{
    width: 40px;
  }
  .social{
    margin-right:40px;
  }
}